<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.THEHOST">
        <activity
            android:name=".PlaceholderScreen"
            android:exported="false"
            android:label="@string/title_activity_placeholder_screen"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".BioScreen"
            android:exported="false"
            android:label="@string/title_activity_bio_screen"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".ProfileCard"
            android:exported="false"
            android:label="@string/title_activity_profile_card"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".Data"
            android:exported="false"
            android:label="@string/title_activity_data"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".ProfileLIstScreen"
            android:exported="false"
            android:label="@string/title_activity_profile_list_screen"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".StudentFiveActivity"
            android:exported="false"
            android:label="@string/title_activity_student_five"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".StudentFourActivity"
            android:exported="false"
            android:label="@string/title_activity_student_four"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".StudentThreeActivity"
            android:exported="false"
            android:label="@string/title_activity_student_three"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".StudentTwoActivity"
            android:exported="false"
            android:label="@string/title_activity_student_two"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".StudentOneActivity"
            android:exported="false"
            android:label="@string/title_activity_student_one"
            android:theme="@style/Theme.THEHOST" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.THEHOST">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>